table.sample {
  border-width: thin thin thin thin;
  border-spacing: 0px;
  border-style: outset outset outset outset;
  border-color: gray gray gray gray;
  border-collapse: collapse;
  background-color: rgb(0, 0, 0);
}
table.sample th {
  border-width: 1px 1px 1px 1px;
  padding: 0px 0px 0px 0px;
  border-style: inset inset inset inset;
  border-color: gray gray gray gray;
  background-color: rgb(0, 0, 0);
  -moz-border-radius: 0px 0px 0px 0px;
}
table.sample td {
  border-width: 1px 1px 1px 1px;
  padding: 0px 0px 0px 0px;
  border-style: inset inset inset inset;
  border-color: gray gray gray gray;
  background-color: rgb(0, 0, 0);
  -moz-border-radius: 0px 0px 0px 0px;
}
